#login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

#login-form {
  display: flex;
  flex-direction: column;
}

#account_type {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.5em;
}
