<div class="sale-container">
  <mat-selection-list class="product-container" #selectedProducts [(ngModel)]="selected" (ngModelChange)="onNgModelChange($event)">
    <mat-list-option  [disabled]="product.disable" [ngStyle]="{'opacity':product.disable? '0.2' : '1' }" class="product" *ngFor="let product of allProducts" [value]="product">
      <img class="product-img" src={{product.url_image}} alt="">
      <h4 class="product-text">{{product.name}} {{product.brand}}</h4>
    </mat-list-option>
  </mat-selection-list>
  <div class="product-student">
    <app-qr-reader class="product-reader" (qrSelected)="onQrSelected($event)"></app-qr-reader>
    <h3>Studiante: {{selectedStudent?.name}}</h3>
    <p class="product-subtotal">Total: {{subtotal | currency}}</p>
    <button class="btn-pagar" (click)="pay()">Pagar</button>
  </div>
</div>
